@using Microsoft.AspNetCore.Mvc.Localization
@model TaskManagement.Domain.Dtos.IssueDto
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="col-md-6 mx-auto">

    <h2>@ViewData["Title"]</h2>

    <form method="post" asp-action="Create">

        <label asp-for="Name">@SharedLocalizer["Name"]</label>
        <input class="form-control" type="text" asp-for="Name" required />

        <label asp-for="Description">@SharedLocalizer["Description"]</label>
        <textarea class="issueDescription form-control " asp-for="Description"></textarea>

        <label asp-for="Executors">@SharedLocalizer["Executors"]</label>
        <input class="form-control" type="text" asp-for="Executors" required />

        <label asp-for="Status">@SharedLocalizer["Status"]</label>
        <select class="form-control" asp-for="Status">
            <option value="Assigned">@SharedLocalizer["Assigned"]</option>
            <option value="InProgress">@SharedLocalizer["InProgress"]</option>
        </select>

        <label asp-for="EstimatedHours">@SharedLocalizer["EstimatedHours"]</label>
        <input class="form-control" type="number" asp-for="EstimatedHours" />

        <label asp-for="Deadline">@SharedLocalizer["Deadline"]</label>
        <input class="form-control" type="date" asp-for="Deadline" />

        <button class="btn btn-success" type="submit">@Localizer["CreateButton"]</button>

    </form>
    @ViewData["Exception"]

</div>