@model TaskManagement.Domain.Models.Issue
@{
    Layout = null;
    ViewData["Title"] = "Create issue";
}
<h2>@ViewData["Title"]</h2>

<p>Id: @Model.Id</p>
<p>Name: @Model.Name</p>
<p>Description: @Model.Description</p>
<p>Executors: @Model.Executors</p>
<p>Status: @Model.Status</p>
<p>Estimated hours: @Model.EstimatedHours</p>
<p>Created: @Model.CreatedAt</p>
@if (@Model.CompletedAt == null)
{
    <p>Completed: None</p>
}
else
{
    <p>Completed: @Model.CompletedAt</p>
}
<p>Deadline: @Model.Deadline</p>

<p>
    <label for="checkboxComplete">Mark as complete:</label>
    <input id="checkboxComplete" type="checkbox" onchange=""/>
</p>

<button type="button" onclick="loadIssueEdit(@Model.Id)">Edit</button>

@if (Model.IssueId == null)
{
    <a asp-action="Create" asp-route-id="@Model.Id">Create sub issue</a>
}