@using Microsoft.AspNetCore.Mvc.Localization
@model TaskManagement.Domain.Models.Issue
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    Layout = null;
    ViewData["Title"] = Localizer["Title"];
}

<h2>@ViewData["Title"]</h2>

<p id="issueId" data-issue-id="@Model.Id">ParentId: @Model.Id</p>
<p>@SharedLocalizer["Name"]: @Model.Name</p>
<p class="issueDescription"> @SharedLocalizer["Description"]: @Model.Description</p>
<p>@SharedLocalizer["Executors"]: @Model.Executors</p>
<p>@SharedLocalizer["Status"]: @SharedLocalizer[Model.Status.ToString()]</p>
<p>@SharedLocalizer["EstimatedHours"]: @Model.EstimatedHours</p>
<p>@SharedLocalizer["Created"]: @Model.CreatedAt</p>
@if (@Model.CompletedAt != null)
{
    <p>@SharedLocalizer["Completed"]: @Model.CompletedAt</p>
}
<p>@SharedLocalizer["Deadline"]: @Model.Deadline.ToShortDateString()</p>

<p>
    <button class="btn btn-success" type="button" onclick="loadIssueEdit(@Model.Id)">@SharedLocalizer["EditButton"]</button>
</p>

<form method="get" asp-action="Create" asp-route-id="@Model.Id">
    <button class="btn btn-secondary" type="submit">@Localizer["CreateSubIssue"]</button>
</form>