@model TaskManagement.Domain.Models.Issue
@{
    Layout = null;
    ViewData["Title"] = "Issue info";
}

<h2>@ViewData["Title"]</h2>

<p id="issueId" data-issue-id="@Model.Id">Id: @Model.Id</p>
<p>Name: @Model.Name</p>
<p class="issueDescription"> Description: @Model.Description</p>
<p>Executors: @Model.Executors</p>
<p>Status: @Model.Status</p>
<p>Estimated hours: @Model.EstimatedHours</p>
<p>Created: @Model.CreatedAt</p>
@if (@Model.CompletedAt != null)
{
    <p>Completed: @Model.CompletedAt</p>
}
<p>Deadline: @Model.Deadline.ToShortDateString()</p>

<p>
    <button type="button" onclick="loadIssueEdit(@Model.Id)">Edit</button>
</p>

<form method="get" asp-action="Create" asp-route-id="@Model.Id">
    <button type="submit">Create sub issue</button>
</form>